Both graphs have been implemented in Dash plotly to create interactive web apps. As we use Jupiter notebook some changes were needed like to import 'jupyter plotly dash' library and create our app on JupyterDash rather than dash as it normally is. Those changes do not effect the outcome of the app and which runs in the web browser as its original format. Therefore the output of the two graphs is in http servers, which we have to click in order to see and interact with the full graph.

## Packages needed to be installed for the code to run in jupyter note book:
    
1. conda install -c plotly plotly=4.14.3
2. pip install dash
3. conda install "notebook>=5.3" "ipywidgets>=7.5"
4. pip install dashserve
5. pip install jupyter_plotly_dash
6. pip install jupyter-dash
7. conda install -c conda-forge -c plotly jupyter-dash
8. pip install xlrd
9. conda install -c anaconda openpyxl
10. conda install -c conda-forge pycountry
11. conda install -c conda-forge dash-bootstrap-components
12. jupyter serverextension enable --sys-prefix jupyter_server_proxy
13. conda install nb_conda

In [70]:
#%tb

In [3]:
conda list

# packages in environment at /Applications/anaconda3:
#
# Name                    Version                   Build  Channel
_anaconda_depends         2021.11                  py39_0
_ipyw_jlab_nb_ext_conf    0.1.0            py39hecd8cb5_0
aiohttp                   3.8.1            py39h89e85a6_0    conda-forge
aiosignal                 1.2.0              pyhd8ed1ab_0    conda-forge
alabaster                 0.7.12             pyhd3eb1b0_0
anaconda                  custom                   py39_1
anaconda-client           1.9.0            py39hecd8cb5_0
anaconda-navigator        2.1.1                    py39_0
anaconda-project          0.10.1             pyhd3eb1b0_0
ansi2html                 1.7.0                    pypi_0    pypi
anyio                     2.2.0            py39hecd8cb5_1
appdirs                   1.4.4              pyhd3eb1b0_0
applaunchservices         0.2.1              pyhd3eb1b0_0
appnope                   0.1.2           py39hecd8cb5_1001
appscript                 1.1.2            py39h9ed2024_0
argh                      0.26.2           py39hecd8cb5_0
argon2-cffi               20.1.0           py39h9ed2024_1
arrow                     0.13.1           py39hecd8cb5_0
asgiref                   3.5.0                    pypi_0    pypi
asn1crypto                1.4.0                      py_0
astroid                   2.6.6            py39hecd8cb5_0
astropy                   4.3.1            py39hf9932de_0
async-timeout             4.0.2              pyhd8ed1ab_0    conda-forge
async_generator           1.10               pyhd3eb1b0_0
atomicwrites              1.4.0                      py_0
attrs                     21.2.0             pyhd3eb1b0_0
autopep8                  1.5.7              pyhd3eb1b0_0
babel                     2.9.1              pyhd3eb1b0_0
backcall                  0.2.0              pyhd3eb1b0_0
backports                 1.0                pyhd3eb1b0_2
backports.functools_lru_cache 1.6.4              pyhd3eb1b0_0
backports.shutil_get_terminal_size 1.0.0              pyhd3eb1b0_3
backports.tempfile        1.0                pyhd3eb1b0_1
backports.weakref         1.0.post1                  py_1
beautifulsoup4            4.10.0             pyh06a4308_0
binaryornot               0.4.4              pyhd3eb1b0_1
bitarray                  2.3.0            py39h9ed2024_1
bkcharts                  0.2              py39hecd8cb5_0
black                     19.10b0                    py_0
blas                      1.0                         mkl
bleach                    4.0.0              pyhd3eb1b0_0
blosc                     1.21.0               h2842e9f_0
bokeh                     2.4.1            py39hecd8cb5_0
boto                      2.49.0           py39hecd8cb5_0
bottleneck                1.3.2            py39he3068b8_1
brotli                    1.0.9                hb1e8313_2
brotli-python             1.0.9            py39h9fcab8e_6    conda-forge
brotlipy                  0.7.0           py39h9ed2024_1003
brunsli                   0.1                  h23ab428_0
bzip2                     1.0.8                h1de35cc_0
c-ares                    1.17.1               h9ed2024_0
ca-certificates           2022.3.18            hecd8cb5_0
cached-property           1.5.2                      py_0
certifi                   2021.10.8        py39hecd8cb5_2
cffi                      1.14.6           py39h2125817_0
cfitsio                   3.470                hee0f690_6
chardet                   4.0.0           py39hecd8cb5_1003
charls                    2.2.0                h23ab428_0
charset-normalizer        2.0.4              pyhd3eb1b0_0
click                     8.0.3              pyhd3eb1b0_0
cloudpickle               2.0.0              pyhd3eb1b0_0
clyent                    1.2.2            py39hecd8cb5_1
colorama                  0.4.4              pyhd3eb1b0_0
conda                     4.12.0           py39hecd8cb5_0
conda-build               3.21.7           py39hecd8cb5_0
conda-content-trust       0.1.1              pyhd3eb1b0_0
conda-env                 2.6.0                         1
conda-pack                0.6.0              pyhd3eb1b0_0
conda-package-handling    1.7.3            py39h9ed2024_1
conda-repo-cli            1.0.4              pyhd3eb1b0_0
conda-token               0.3.0              pyhd3eb1b0_0
conda-verify              3.4.2                      py_1
contextlib2               0.6.0.post1        pyhd3eb1b0_0
cookiecutter              1.7.2              pyhd3eb1b0_0
cryptography              3.4.8            py39h2fd3fbb_0
curl                      7.78.0               h7bc2e8c_0
cycler                    0.10.0           py39hecd8cb5_0
cython                    0.29.24          py39he9d5cce_0
cytoolz                   0.11.0           py39h9ed2024_0
daal4py                   2021.3.0         py39h01d92e1_0
dal                       2021.3.0           hecd8cb5_555
dash                      2.3.0                    pypi_0    pypi
dash-bootstrap-components 1.0.3                    pypi_0    pypi
dash-core-components      2.0.0                    pypi_0    pypi
dash-daq                  0.5.0                    pypi_0    pypi
dash-html-components      2.0.0                    pypi_0    pypi
dash-renderer             1.9.1              pyhd8ed1ab_0    conda-forge
dash-table                5.0.0                    pypi_0    pypi
dashserve                 0.1.7                    pypi_0    pypi
dask                      2021.10.0          pyhd3eb1b0_0
dask-core                 2021.10.0          pyhd3eb1b0_0
dataclasses               0.8                pyh6d0b6a4_7
debugpy                   1.4.1            py39h23ab428_0
decorator                 5.1.0              pyhd3eb1b0_0
defusedxml                0.7.1              pyhd3eb1b0_0
diff-match-patch          20200713           pyhd3eb1b0_0
dill                      0.3.4                    pypi_0    pypi
distributed               2021.10.0        py39hecd8cb5_0
django                    4.0.3                    pypi_0    pypi
django-bootstrap4         22.1                     pypi_0    pypi
django-plotly-dash        1.6.6                    pypi_0    pypi
docutils                  0.17.1           py39hecd8cb5_1
dpd-components            0.1.0                    pypi_0    pypi
dpd-static-support        0.0.5                    pypi_0    pypi
entrypoints               0.3              py39hecd8cb5_0
et_xmlfile                1.1.0            py39hecd8cb5_0
fastcache                 1.1.0            py39h9ed2024_0
filelock                  3.3.1              pyhd3eb1b0_1
flake8                    3.9.2              pyhd3eb1b0_0
flask                     1.1.2              pyhd3eb1b0_0
flask-compress            1.11                     pypi_0    pypi
fonttools                 4.25.0             pyhd3eb1b0_0
freetype                  2.10.4               ha233b18_0
frozenlist                1.3.0            py39h89e85a6_0    conda-forge
fsspec                    2021.8.1           pyhd3eb1b0_0
future                    0.18.2           py39hecd8cb5_1
get_terminal_size         1.0.0                h7520d66_0
gevent                    21.8.0           py39h9ed2024_1
giflib                    5.2.1                haf1e3a3_0
glob2                     0.7                pyhd3eb1b0_0
gmp                       6.2.1                h23ab428_2
gmpy2                     2.0.8            py39h4b98818_3
greenlet                  1.1.1            py39h23ab428_0
h5py                      3.2.1            py39h90fc2a2_0
hdf5                      1.10.6               hdbbcd12_0
heapdict                  1.0.1              pyhd3eb1b0_0
html5lib                  1.1                pyhd3eb1b0_0
icu                       58.2                 h0a44026_3
idna                      3.2                pyhd3eb1b0_0
imagecodecs               2021.8.26        py39ha952a84_0
imageio                   2.9.0              pyhd3eb1b0_0
imagesize                 1.2.0              pyhd3eb1b0_0
importlib-metadata        4.8.1            py39hecd8cb5_0
importlib_metadata        4.8.1                hd3eb1b0_0
inflection                0.5.1            py39hecd8cb5_0
iniconfig                 1.1.1              pyhd3eb1b0_0
intel-openmp              2021.4.0          hecd8cb5_3538
intervaltree              3.1.0              pyhd3eb1b0_0
ipykernel                 6.4.1            py39hecd8cb5_1
ipython                   7.29.0           py39h01d92e1_0
ipython_genutils          0.2.0              pyhd3eb1b0_1
ipywidgets                7.6.5              pyhd3eb1b0_1
isort                     5.9.3              pyhd3eb1b0_0
itsdangerous              2.0.1              pyhd3eb1b0_0
jbig                      2.1                  h4d881f8_0
jdcal                     1.4.1              pyhd3eb1b0_0
jedi                      0.18.0           py39hecd8cb5_1
jinja2                    2.11.3             pyhd3eb1b0_0
jinja2-time               0.2.0              pyhd3eb1b0_2
joblib                    1.1.0              pyhd3eb1b0_0
jpeg                      9d                   h9ed2024_0
json5                     0.9.6              pyhd3eb1b0_0
jsonschema                3.2.0              pyhd3eb1b0_2
jupyter                   1.0.0            py39hecd8cb5_7
jupyter-dash              0.4.1              pyhd8ed1ab_2    conda-forge
jupyter-plotly-dash       0.4.3                    pypi_0    pypi
jupyter-server-proxy      3.2.1              pyhd8ed1ab_0    conda-forge
jupyter_client            6.1.12             pyhd3eb1b0_0
jupyter_console           6.4.0              pyhd3eb1b0_0
jupyter_core              4.8.1            py39hecd8cb5_0
jupyter_server            1.4.1            py39hecd8cb5_0
jupyterlab                3.2.1              pyhd3eb1b0_1
jupyterlab_pygments       0.1.2                      py_0
jupyterlab_server         2.8.2              pyhd3eb1b0_0
jupyterlab_widgets        1.0.0              pyhd3eb1b0_1
jxrlib                    1.1                  haf1e3a3_2
keyring                   23.1.0           py39hecd8cb5_0
kiwisolver                1.3.1            py39h23ab428_0
krb5                      1.19.2               hcd88c3b_0
lazy-object-proxy         1.6.0            py39h9ed2024_0
lcms2                     2.12                 hf1fd2bf_0
lerc                      3.0                  he9d5cce_0
libaec                    1.0.4                hb1e8313_1
libarchive                3.4.2                haa3ed63_0
libcurl                   7.78.0               hb8e4fae_0
libcxx                    12.0.0               h2f01273_0
libdeflate                1.8                  h9ed2024_5
libedit                   3.1.20210910         hca72f7f_0
libev                     4.33                 h9ed2024_1
libffi                    3.3                  hb1e8313_2
libgfortran               3.0.1                h93005f0_2
libiconv                  1.16                 h1de35cc_0
liblief                   0.10.1               h23ab428_1
libllvm11                 11.1.0               h9b2ccf5_0
libnghttp2                1.41.0               h7580e61_2
libpng                    1.6.37               ha441bb4_0
libsodium                 1.0.18               h1de35cc_0
libspatialindex           1.9.3                h23ab428_0
libssh2                   1.9.0                ha12b0ac_1
libtiff                   4.2.0                h87d7836_0
libuv                     1.40.0               haf1e3a3_0
libwebp                   1.2.0                hacca55c_0
libwebp-base              1.2.0                h9ed2024_0
libxml2                   2.9.12               hcdb78fc_0
libxslt                   1.1.34               h83b36ba_0
libzopfli                 1.0.3                hb1e8313_0
llvm-openmp               12.0.0               h0dcd299_1
llvmlite                  0.37.0           py39he4411ff_1
locket                    0.2.1            py39hecd8cb5_1
lxml                      4.6.3            py39h26b266a_0
lz4-c                     1.9.3                h23ab428_1
lzo                       2.10                 haf1e3a3_2
markupsafe                1.1.1            py39h9ed2024_0
matplotlib                3.4.3            py39hecd8cb5_0
matplotlib-base           3.4.3            py39h0a11d32_0
matplotlib-inline         0.1.2              pyhd3eb1b0_2
mccabe                    0.6.1            py39hecd8cb5_1
mistune                   0.8.4           py39h9ed2024_1000
mkl                       2021.4.0           hecd8cb5_637
mkl-service               2.4.0            py39h9ed2024_0
mkl_fft                   1.3.1            py39h4ab4a9b_0
mkl_random                1.2.2            py39hb2f4e1b_0
mock                      4.0.3              pyhd3eb1b0_0
more-itertools            8.10.0             pyhd3eb1b0_0
mpc                       1.1.0                h6ef4df4_1
mpfr                      4.0.2                h9066e36_1
mpi                       1.0                       mpich
mpich                     3.3.2                hc856adb_0
mpmath                    1.2.1            py39hecd8cb5_0
msgpack-python            1.0.2            py39hf7b0b51_1
multidict                 6.0.2            py39h89e85a6_0    conda-forge
multipledispatch          0.6.0            py39hecd8cb5_0
munkres                   1.1.4                      py_0
mypy_extensions           0.4.3            py39hecd8cb5_0
navigator-updater         0.2.1                    py39_1
nb_conda                  2.2.1            py39hecd8cb5_1
nb_conda_kernels          2.3.1            py39hecd8cb5_0
nbclassic                 0.2.6              pyhd3eb1b0_0
nbclient                  0.5.3              pyhd3eb1b0_0
nbconvert                 6.1.0            py39hecd8cb5_0
nbformat                  5.1.3              pyhd3eb1b0_0
nbserverproxy             0.8.8                    pypi_0    pypi
ncurses                   6.3                  hca72f7f_1
nest-asyncio              1.5.1              pyhd3eb1b0_0
networkx                  2.6.3              pyhd3eb1b0_0
nltk                      3.6.5              pyhd3eb1b0_0
nose                      1.3.7           pyhd3eb1b0_1006
notebook                  6.4.5            py39hecd8cb5_0
numba                     0.54.1           py39hae1ba45_0
numexpr                   2.7.3            py39h5873af2_1

numpy-base                1.20.3           py39he0bd621_0
numpydoc                  1.1.0              pyhd3eb1b0_1
olefile                   0.46               pyhd3eb1b0_0
openjpeg                  2.4.0                h66ea3da_0
openpyxl                  3.0.9              pyhd3eb1b0_0
openssl                   1.1.1n               hca72f7f_0
packaging                 21.0               pyhd3eb1b0_0
pandas                    1.3.4            py39h743cdd8_0
pandocfilters             1.4.3            py39hecd8cb5_1
parso                     0.8.2              pyhd3eb1b0_0
partd                     1.2.0              pyhd3eb1b0_0
path                      16.0.0           py39hecd8cb5_0
path.py                   12.5.0               hd3eb1b0_0
pathlib2                  2.3.6            py39hecd8cb5_2
pathspec                  0.7.0                      py_0
patsy                     0.5.2            py39hecd8cb5_0
pep8                      1.7.1            py39hecd8cb5_0
pexpect                   4.8.0              pyhd3eb1b0_3
pickleshare               0.7.5           pyhd3eb1b0_1003
pillow                    8.4.0            py39h98e4679_0
pip                       21.2.4           py39hecd8cb5_0
pkginfo                   1.7.1            py39hecd8cb5_0
plotly                    5.6.0                    pypi_0    pypi
pluggy                    0.13.1           py39hecd8cb5_0
ply                       3.11             py39hecd8cb5_0
poyo                      0.5.0              pyhd3eb1b0_0
prometheus_client         0.11.0             pyhd3eb1b0_0
prompt-toolkit            3.0.20             pyhd3eb1b0_0
prompt_toolkit            3.0.20               hd3eb1b0_0
psutil                    5.8.0            py39h9ed2024_1
ptyprocess                0.7.0              pyhd3eb1b0_2
py                        1.10.0             pyhd3eb1b0_0
py-lief                   0.10.1           py39h23ab428_1
pycodestyle               2.7.0              pyhd3eb1b0_0
pycosat                   0.6.3            py39h9ed2024_0
pycountry                 20.7.3             pyh9f0ad1d_0    conda-forge
pycparser                 2.20                       py_2
pycurl                    7.44.1           py39hbcfaee0_1
pydocstyle                6.1.1              pyhd3eb1b0_0
pyerfa                    2.0.0            py39h9ed2024_0
pyflakes                  2.3.1              pyhd3eb1b0_0
pygments                  2.10.0             pyhd3eb1b0_0
pyjwt                     2.1.0            py39hecd8cb5_0
pylint                    2.9.6            py39hecd8cb5_1
pyls-spyder               0.4.0              pyhd3eb1b0_0
pyodbc                    4.0.31           py39h23ab428_0
pyopenssl                 21.0.0             pyhd3eb1b0_1
pyparsing                 3.0.4              pyhd3eb1b0_0
pyqt                      5.9.2            py39h23ab428_6
pyrsistent                0.18.0           py39hca72f7f_0
pysocks                   1.7.1            py39hecd8cb5_0
pytables                  3.6.1            py39h648f197_1
pytest                    6.2.4            py39hecd8cb5_2
python                    3.9.7                h88f2d9e_1
python-dateutil           2.8.2              pyhd3eb1b0_0
python-libarchive-c       2.9                pyhd3eb1b0_1
python-lsp-black          1.0.0              pyhd3eb1b0_0
python-lsp-jsonrpc        1.0.0              pyhd3eb1b0_0
python-lsp-server         1.2.4              pyhd3eb1b0_0
python-slugify            5.0.2              pyhd3eb1b0_0
python.app                3                py39hca72f7f_0
python_abi                3.9                      2_cp39    conda-forge
pytz                      2021.3             pyhd3eb1b0_0
pywavelets                1.1.1            py39he3068b8_4
pyyaml                    6.0              py39hca72f7f_1
pyzmq                     22.2.1           py39h23ab428_1
qdarkstyle                3.0.2              pyhd3eb1b0_0
qstylizer                 0.1.10             pyhd3eb1b0_0
qt                        5.9.7                h468cd18_1
qtawesome                 1.0.2              pyhd3eb1b0_0
qtconsole                 5.1.1              pyhd3eb1b0_0
qtpy                      1.10.0             pyhd3eb1b0_0
readline                  8.1                  h9ed2024_0
regex                     2021.8.3         py39h9ed2024_0
requests                  2.26.0             pyhd3eb1b0_0
retrying                  1.3.3              pyhd3eb1b0_2
ripgrep                   12.1.1                        0
rope                      0.19.0             pyhd3eb1b0_0
rtree                     0.9.7            py39hecd8cb5_1
ruamel_yaml               0.15.100         py39h9ed2024_0
scikit-image              0.18.3           py39hae1ba45_0
scikit-learn              0.24.2           py39hb2f4e1b_0
scikit-learn-intelex      2021.3.0         py39hecd8cb5_0
scipy                     1.7.1            py39h88652d9_2
seaborn                   0.11.2             pyhd3eb1b0_0
send2trash                1.8.0              pyhd3eb1b0_1
setuptools                58.0.4           py39hecd8cb5_0
simpervisor               0.4                pyhd8ed1ab_0    conda-forge
simplegeneric             0.8.1            py39hecd8cb5_2
singledispatch            3.7.0           pyhd3eb1b0_1001
sip                       4.19.13          py39h23ab428_0
six                       1.16.0             pyhd3eb1b0_0
snappy                    1.1.8                hb1e8313_0
sniffio                   1.2.0            py39hecd8cb5_1
snowballstemmer           2.1.0              pyhd3eb1b0_0
sortedcollections         2.1.0              pyhd3eb1b0_0

Note: you may need to restart the kernel to use updated packages.

In [4]:
#conda install -c plotly plotly=4.14.3
#pip install dash
#conda install "notebook>=5.3" "ipywidgets>=7.5"
#pip install dashserve
#pip install jupyter_plotly_dash
#pip install jupyter-dash
#conda install -c conda-forge -c plotly jupyter-dash
#pip install xlrd
#conda install -c anaconda openpyxl
#conda install -c conda-forge pycountry
#conda install -c conda-forge dash-bootstrap-components
#conda install -c conda-forge jupyter-server-proxy

In [5]:
#Liabraries needed for the graphs

#from jupyter_plotly_dash import JupyterDash

from jupyter_dash import JupyterDash
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output, State
from dash.exceptions import PreventUpdate
import dash_bootstrap_components as dbc

import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio
pio.templates.default = "seaborn+presentation"

import pandas as pd
import numpy as np

import xlrd
import pycountry

# First Graph (Choropleth Map)

Original Dataset: https://www.rug.nl/ggdc/blog/maddison-project-database-2020-04-11-2020?lang=en

The chosen dataset is a very well structured dataset which allowed us to create the graph with minimum preprocessing on the data.


##  The graph shows how the Gross domestic product per capita is changing through the years ( from 1970 to 2018) for each country.

The color gradation depicted for each country implys the GDP per capita movement. The pallet main color is blue. The color hue moves from lighter to darker showing a smaller to bigger increase to GDP per capita value for each country.
The submit button allows the user to change the year of interest and display for this year the value of the GDP per capita of each county.

In [6]:
# Read the data
df = pd.read_excel('mpd2020.xlsx', sheet_name='Full data',engine='openpyxl')

In [7]:
df.head()

  countrycode      country  year   gdppc     pop
0         AFG  Afghanistan  1820     NaN  3280.0
1         AFG  Afghanistan  1870     NaN  4207.0
2         AFG  Afghanistan  1913     NaN  5730.0
3         AFG  Afghanistan  1950  1156.0  8150.0
4         AFG  Afghanistan  1951  1170.0  8284.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21682 entries, 0 to 21681
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   countrycode  21682 non-null  object
 1   country      21682 non-null  object
 2   year         21682 non-null  int64
 3   gdppc        19706 non-null  float64
 4   pop          17199 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 847.1+ KB

In [9]:
#Find the distribution of the years.
yeatlist = df.year.value_counts()
yeatlist

2007    169
1991    169
1997    169
1996    169
1995    169
       ...
1262      1
1267      1
1266      1
1265      1
1268      1
Name: year, Length: 772, dtype: int64

In [10]:
yeatlist.index[:70]

Int64Index([2007, 1991, 1997, 1996, 1995, 1994, 1993, 1992, 1990, 1982, 1989,
            1988, 1987, 1986, 1985, 1984, 1998, 1999, 2000, 2001, 2002, 2003,
            2004, 2005, 2006, 2017, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
            1983, 1981, 2016, 1956, 1962, 1961, 1960, 1959, 1958, 1957, 1955,
            1980, 1954, 1953, 1952, 1951, 1950, 2018, 1963, 1964, 1965, 1966,
            1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977,
            1978, 1979, 2015, 1820],
           dtype='int64')

In [11]:
#From 2016 to 1970 the distribution of the values of the years is equal.
for i in range(0,70):
    print(yeatlist.iat[i])

169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
169
90

In [12]:
df.gdppc.isnull().sum()

1976

In [13]:
# New dataframe with the needed columns
dff = df[['countrycode','country','year','gdppc']]

In [14]:
#Rename gdppc to a self exploratory name
#GDP per capita  gross domestic product (GDP) per capita
dff = dff.rename(columns={"gdppc": "GDP per capita"})
#Drop rows with any NaN value.
dff=dff.dropna()

In [15]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19706 entries, 3 to 21681
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   countrycode     19706 non-null  object
 1   country         19706 non-null  object
 2   year            19706 non-null  int64
 3   GDP per capita  19706 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 769.8+ KB

In [16]:
#Create a dataframe from 1970 to 2018
dff = dff[dff['year'] >= 1970]

In [17]:
dff['countrycode'] = dff['countrycode'].astype(str)

In [18]:
dff.year.unique().tolist()

[1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018]

In [21]:
app = JupyterDash('First Graph')

colors = {
    
    'background': '#FFFFFF',
    'text': '#7FDBFF'
}

#App Layout 


app.layout = html.Div([
    
    
    html.Div([
        dcc.Graph( id='graph1', style={ 'height': 600,'width': '70%', 'display': 'flex', 'text-align': 'center'}),
    ]),
    

    html.Div([
        html.P("Change the year form 1970 to 2018"),

        dcc.Input( id='input_state', type='number', inputMode='numeric', value=2000,
                   max=2018, min=1970, step=1, required=True ),
        html.Button( id='apply_button', n_clicks=0, children='Apply' ),
        html.Div( id='output' ),
    ] , style={'width': '45%', 'text-align': 'center', 'fontColor' : 'black'} ),


])

#conencting the input state with the output state
   
@app.callback(
    [Output( 'output', 'children' ), Output( component_id='graph1', component_property='figure' )],
    [Input( component_id='apply_button', component_property='n_clicks')],
    [State( component_id='input_state', component_property='value' )]
)


def update_output(nclicks, value):
    if value == None:
        raise PreventUpdate
    else:
        #filter the data
        dfilter = dff.query("year=={}".format(value))

        choropleth = px.choropleth( dfilter, locations="countrycode",
                               color="GDP per capita",
                               hover_name="country",
                               projection= 'natural earth',
                               scope= 'world',
                               height=600,
                               width=800,
                               title='Yearly GDP per capita value by Country',
                               color_continuous_scale=px.colors.sequential.PuBu
                               
                             )

        choropleth.update_layout( title=dict( font=dict( size=26 ), x=0.55, xanchor='center' ),
                             margin=dict( l=65, r=65, t=55, b=55 ))
        
        

        return ('The year of {} is displayed on the map and {} different years has been applied so far.'.format( value, nclicks ), choropleth)


# Run app and display result inline in the notebook
app.run_server( host="localhost",port=8054)
#app.run_server()

Dash app running on http://localhost:8054/

# Second Graph (dashboard)

Original Dataset:
Supported Dataset: 'https://www.kaggle.com/hamzael1/world-countries-income-class-2020'




## Shows how the Birthrate, Deathrate and Infant Mortality are changing depending on different general predictors for each country.

The chosen predictors are the gross domestic product per capita, regions and countries. Those three predictors were chosen as based on the literature review they affect the most the three dependent variables. Three separate graphs were implemented with the x-axis having the values of each separate predictor and the y-axis having the value of one of three dependent variables. Therefore, the graph is a dashboard of one scatter plot for the GDP and two bar plots for the other two predictors. The different colours inside each graph represent the hue values and helps the viewer to dibranchiate the graph elements but at the same time to group them. The viewer can also choose to visualise the dashboard depending on the population as the first slider indicates.

### First dataset(original)

In [22]:
#Load the dataset
data12 = pd.read_csv('countries of the world.csv')

In [23]:
#Change the name of the columns
def to_snakecase (cols):
    map_dict = {}
    for col in cols:
        map_dict[col] = col.lower().strip().replace(' ', '_')
    return map_dict

data12.rename(to_snakecase(data12.columns), axis=1, inplace=True)

In [24]:
data12.head()

,country,region,population,area_(sq._mi.),pop._density_(per_sq._mi.),coastline_(coast/area_ratio),net_migration,infant_mortality_(per_1000_births),gdp_($_per_capita),literacy_(%),phones_(per_1000),arable_(%),crops_(%),other_(%),climate,birthrate,deathrate,agriculture,industry,service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [25]:
data12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   country                             227 non-null    object
 1   region                              227 non-null    object
 2   population                          227 non-null    int64
 3   area_(sq._mi.)                      227 non-null    int64
 4   pop._density_(per_sq._mi.)          227 non-null    object
 5   coastline_(coast/area_ratio)        227 non-null    object
 6   net_migration                       224 non-null    object
 7   infant_mortality_(per_1000_births)  224 non-null    object
 8   gdp_($_per_capita)                  226 non-null    float64
 9   literacy_(%)                        209 non-null    object
 10  phones_(per_1000)                   223 non-null    object
 11  arable_(%)                          225 non-null    object
 12  crops_(%)                           225 non-null    object
 13  other_(%)                           225 non-null    object
 14  climate                             205 non-null    object
 15  birthrate                           224 non-null    object
 16  deathrate                           223 non-null    object
 17  agriculture                         212 non-null    object
 18  industry                            211 non-null    object
 19  service                             212 non-null    object
dtypes: float64(1), int64(2), object(17)
memory usage: 35.6+ KB

In [26]:
#Create new datadrame only with columns that are going to be used for the graphs
data3 = data12[['country', 'population' ,'region' ,'infant_mortality_(per_1000_births)' , 'gdp_($_per_capita)' , 'birthrate' , 'deathrate' ]]

In [27]:
data3.head()

,country,population,region,infant_mortality_(per_1000_births),gdp_($_per_capita),birthrate,deathrate
0,Afghanistan,31056997,ASIA (EX. NEAR EAST),"163,07",700.0,"46,6","20,34"
1,Albania,3581655,EASTERN EUROPE,"21,52",4500.0,"15,11","5,22"
2,Algeria,32930091,NORTHERN AFRICA,31,6000.0,"17,14","4,61"
3,American Samoa,57794,OCEANIA,"9,27",8000.0,"22,46","3,27"
4,Andorra,71201,WESTERN EUROPE,"4,05",19000.0,"8,71","6,25"

In [28]:
#Drop all rows that have at least one NaN value
data3 = data3.dropna()

In [29]:
#View the values of the region 
data3.region.unique()

array(['ASIA (EX. NEAR EAST)         ',
       'EASTERN EUROPE                     ',
       'NORTHERN AFRICA                    ',
       'OCEANIA                            ',
       'WESTERN EUROPE                     ',
       'SUB-SAHARAN AFRICA                 ', 'LATIN AMER. & CARIB    ',
       'C.W. OF IND. STATES ', 'NEAR EAST                          ',
       'NORTHERN AMERICA                   ',
       'BALTICS                            '], dtype=object)

In [30]:
#Change the values of the regions in a form that is more well recognized and self explanatory

data3['region'] = data3['region'].astype(str).str.rstrip()

data3['region'] = data3['region'].str.replace('ASIA (EX. NEAR EAST)', 'ASIA')
data3['region'] = data3['region'].str.replace('EASTERN EUROPE', 'EAST EUROPE')
data3['region'] = data3['region'].str.replace('NORTHERN AFRICA', 'NORTH AFRICA')
data3['region'] = data3['region'].str.replace('OCEANIA', 'OCEANIA')
data3['region'] = data3['region'].str.replace('WESTERN EUROPE', 'WEST EUROPE')
data3['region'] = data3['region'].str.replace('SUB-SAHARAN AFRICA', 'SUB-SAHARAN AFRICA')
data3['region'] = data3['region'].str.replace('LATIN AMER. & CARIB', 'LATIN AMERICA & CARIB')
data3['region'] = data3['region'].str.replace('C.W. OF IND. STATES',  'C.W OF INDEP. STATES')
data3['region'] = data3['region'].str.replace('NEAR EAST', 'NEAR EAST')
data3['region'] = data3['region'].str.replace('NORTHERN AMERICA', 'NORTH AMERICA')
data3['region'] = data3['region'].str.replace('BALTICS', 'BALTICS')

/var/folders/39/h7f7w0rs7mn9xlrhsxk0nbvr0000gn/T/ipykernel_50934/1027903122.py:5: FutureWarning:

The default value of regex will change from True to False in a future version.

/var/folders/39/h7f7w0rs7mn9xlrhsxk0nbvr0000gn/T/ipykernel_50934/1027903122.py:11: FutureWarning:

The default value of regex will change from True to False in a future version.

/var/folders/39/h7f7w0rs7mn9xlrhsxk0nbvr0000gn/T/ipykernel_50934/1027903122.py:12: FutureWarning:

The default value of regex will change from True to False in a future version.

In [31]:
#Verify the changes
data3.region.unique()

array(['ASIA (EX. NEAR EAST)', 'EAST EUROPE', 'NORTH AFRICA', 'OCEANIA',
       'WEST EUROPE', 'SUB-SAHARAN AFRICA', 'LATIN AMERICA & CARIB',
       'C.W OF INDEP. STATES', 'NEAR EAST', 'NORTH AMERICA', 'BALTICS'],
      dtype=object)

In [32]:
#Change the type of the three y variables of our graphs
    
data3['infant_mortality_(per_1000_births)'] = data3['infant_mortality_(per_1000_births)'].astype(str).str.replace(',', '.').astype(float)
data3['birthrate'] = data3['birthrate'].astype(str).str.replace(',', '.').astype(float)
data3['deathrate'] = data3['deathrate'].astype(str).str.replace(',', '.').astype(float)

In [33]:
data3.head()

,country,population,region,infant_mortality_(per_1000_births),gdp_($_per_capita),birthrate,deathrate
0,Afghanistan,31056997,ASIA (EX. NEAR EAST),163.07,700.0,46.60,20.34
1,Albania,3581655,EAST EUROPE,21.52,4500.0,15.11,5.22
2,Algeria,32930091,NORTH AFRICA,31.00,6000.0,17.14,4.61
3,American Samoa,57794,OCEANIA,9.27,8000.0,22.46,3.27
4,Andorra,71201,WEST EUROPE,4.05,19000.0,8.71,6.25

In [34]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 223 entries, 0 to 226
Data columns (total 7 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   country                             223 non-null    object
 1   population                          223 non-null    int64
 2   region                              223 non-null    object
 3   infant_mortality_(per_1000_births)  223 non-null    float64
 4   gdp_($_per_capita)                  223 non-null    float64
 5   birthrate                           223 non-null    float64
 6   deathrate                           223 non-null    float64
dtypes: float64(4), int64(1), object(2)
memory usage: 13.9+ KB

In [35]:
#Check for duplicate values in the country column. There are no duplicate values.
data3.country.nunique()

223

In [36]:
#Find the min population which is going to be used for the slider of the dashboard.
data3.population.min()

7026

In [37]:
#Find the max population which is going to be used for the slider of the dashboard.
data3.population.max()

1313973713

In [38]:
#Strip out the white spaces that country' values have at the end.
data3['country'] = data3['country'].astype(str).str.rstrip()

In [39]:
data3.country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua & Barbuda', 'Argentina', 'Armenia',
       'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'The Bahamas',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burma', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.',
       'Congo, Repub. of the', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
       'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'East Timor', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Faroe Islands', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia, The',
       'Gaza Strip', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece',
       'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala',
       'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macau',
       'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania',
       'Mauritius', 'Mayotte', 'Mexico', 'Micronesia, Fed. St.',
       'Moldova', 'Monaco', 'Mongolia', 'Montserrat', 'Morocco',
       'Mozambique', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'Netherlands Antilles', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Northern Mariana Islands',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia',
       'Rwanda', 'Saint Helena', 'Saint Kitts & Nevis', 'Saint Lucia',
       'St Pierre & Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'So Tom and Principe', 'Saudi Arabia',
       'Senegal', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain',
       'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'Virgin Islands', 'West Bank', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [40]:
# Find the iso code alpha_3 for each country in order to connected with the new data base
def search(country):
    try:
        result = pycountry.countries.search_fuzzy( country )
    except Exception:
        return np.nan
    else:
        return result[0].alpha_3


iso2_code2 = {i: search(i) for i in data3["country"].unique()}

In [41]:
# Some values were not have the corect country code. Based on the 'https://www.iso.org/obp/ui/#home' we change
#the four countries with incorrect alpha_3 code.

iso2_code2.update({ 'Niger' : 'NER', 'Mayotte': 'MYT', 'Guadeloupe': 'GLP' ,  'Virgin Islands': 'VIR'})

iso2_code2

{'Afghanistan': 'AFG',
 'Albania': 'ALB',
 'Algeria': 'DZA',
 'American Samoa': 'ASM',
 'Andorra': 'AND',
 'Angola': 'AGO',
 'Anguilla': 'AIA',
 'Antigua & Barbuda': nan,
 'Argentina': 'ARG',
 'Armenia': 'ARM',
 'Aruba': 'ABW',
 'Australia': 'AUS',
 'Austria': 'AUT',
 'Azerbaijan': 'AZE',
 'The Bahamas': 'BHS',
 'Bahrain': 'BHR',
 'Bangladesh': 'BGD',
 'Barbados': 'BRB',
 'Belarus': 'BLR',
 'Belgium': 'BEL',
 'Belize': 'BLZ',
 'Benin': 'BEN',
 'Bermuda': 'BMU',
 'Bhutan': 'BTN',
 'Bolivia': 'BOL',
 'Bosnia and Herzegovina': 'BIH',
 'Botswana': 'BWA',
 'Brazil': 'BRA',
 'British Virgin Islands': 'VGB',
 'Brunei': 'BRN',
 'Bulgaria': 'BGR',
 'Burkina Faso': 'BFA',
 'Burma': nan,
 'Burundi': 'BDI',
 'Cambodia': 'KHM',
 'Cameroon': 'CMR',
 'Canada': 'CAN',
 'Cape Verde': nan,
 'Cayman Islands': 'CYM',
 'Central African Republic': 'CAF',
 'Chad': 'TCD',
 'Chile': 'CHL',
 'China': 'CHN',
 'Colombia': 'COL',
 'Comoros': 'COM',
 'Congo, Dem. Rep.': nan,
 'Congo, Repub. of the': nan,
 'Costa Rica': 'CRI',
 "Cote d'Ivoire": 'CIV',
 'Croatia': 'HRV',
 'Cuba': 'CUB',
 'Cyprus': 'CYP',
 'Czech Republic': 'CZE',
 'Denmark': 'DNK',
 'Djibouti': 'DJI',
 'Dominica': 'DMA',
 'Dominican Republic': 'DOM',
 'East Timor': nan,
 'Ecuador': 'ECU',
 'Egypt': 'EGY',
 'El Salvador': 'SLV',
 'Equatorial Guinea': 'GNQ',
 'Eritrea': 'ERI',
 'Estonia': 'EST',
 'Ethiopia': 'ETH',
 'Faroe Islands': 'FRO',
 'Fiji': 'FJI',
 'Finland': 'FIN',
 'France': 'FRA',
 'French Guiana': 'GUF',
 'French Polynesia': 'PYF',
 'Gabon': 'GAB',
 'Gambia, The': nan,
 'Gaza Strip': nan,
 'Georgia': 'GEO',
 'Germany': 'DEU',
 'Ghana': 'GHA',
 'Gibraltar': 'GIB',
 'Greece': 'GRC',
 'Greenland': 'GRL',
 'Grenada': 'GRD',
 'Guadeloupe': 'GLP',
 'Guam': 'GUM',
 'Guatemala': 'GTM',
 'Guernsey': 'GGY',
 'Guinea': 'GIN',
 'Guinea-Bissau': 'GNB',
 'Guyana': 'GUY',
 'Haiti': 'HTI',
 'Honduras': 'HND',
 'Hong Kong': 'HKG',
 'Hungary': 'HUN',
 'Iceland': 'ISL',
 'India': 'IND',
 'Indonesia': 'IDN',
 'Iran': 'IRN',
 'Iraq': 'IRQ',
 'Ireland': 'IRL',
 'Isle of Man': 'IMN',
 'Israel': 'ISR',
 'Italy': 'ITA',
 'Jamaica': 'JAM',
 'Japan': 'JPN',
 'Jersey': 'JEY',
 'Jordan': 'JOR',
 'Kazakhstan': 'KAZ',
 'Kenya': 'KEN',
 'Kiribati': 'KIR',
 'Korea, North': nan,
 'Korea, South': nan,
 'Kuwait': 'KWT',
 'Kyrgyzstan': 'KGZ',
 'Laos': nan,
 'Latvia': 'LVA',
 'Lebanon': 'LBN',
 'Lesotho': 'LSO',
 'Liberia': 'LBR',
 'Libya': 'LBY',
 'Liechtenstein': 'LIE',
 'Lithuania': 'LTU',
 'Luxembourg': 'LUX',
 'Macau': nan,
 'Macedonia': 'MKD',
 'Madagascar': 'MDG',
 'Malawi': 'MWI',
 'Malaysia': 'MYS',
 'Maldives': 'MDV',
 'Mali': 'MLI',
 'Malta': 'MLT',
 'Marshall Islands': 'MHL',
 'Martinique': 'MTQ',
 'Mauritania': 'MRT',
 'Mauritius': 'MUS',
 'Mayotte': 'MYT',
 'Mexico': 'MEX',
 'Micronesia, Fed. St.': nan,
 'Moldova': 'MDA',
 'Monaco': 'MCO',
 'Mongolia': 'MNG',
 'Montserrat': 'MSR',
 'Morocco': 'MAR',
 'Mozambique': 'MOZ',
 'Namibia': 'NAM',
 'Nauru': 'NRU',
 'Nepal': 'NPL',
 'Netherlands': 'NLD',
 'Netherlands Antilles': nan,
 'New Caledonia': 'NCL',
 'New Zealand': 'NZL',
 'Nicaragua': 'NIC',
 'Niger': 'NER',
 'Nigeria': 'NGA',
 'Northern Mariana Islands': 'MNP',
 'Norway': 'NOR',
 'Oman': 'OMN',
 'Pakistan': 'PAK',
 'Palau': 'PLW',
 'Panama': 'PAN',
 'Papua New Guinea': 'PNG',
 'Paraguay': 'PRY',
 'Peru': 'PER',
 'Philippines': 'PHL',
 'Poland': 'POL',
 'Portugal': 'PRT',
 'Puerto Rico': 'PRI',
 'Qatar': 'QAT',
 'Reunion': 'REU',
 'Romania': 'ROU',
 'Russia': 'RUS',
 'Rwanda': 'RWA',
 'Saint Helena': 'SHN',
 'Saint Kitts & Nevis': nan,
 'Saint Lucia': 'LCA',
 'St Pierre & Miquelon': nan,
 'Saint Vincent and the Grenadines': 'VCT',
 'Samoa': 'WSM',
 'San Marino': 'SMR',
 'So Tom and Principe': 'STP',
 'Saudi Arabia': 'SAU',
 'Senegal': 'SEN',
 'Seychelles': 'SYC',
 'Sierra Leone': 'SLE',
 'Singapore': 'SGP',
 'Slovakia': 'SVK',
 'Slovenia': 'SVN',
 'Solomon Islands': 'SLB',
 'Somalia': 'SOM',
 'South Africa': 'ZAF',
 'Spain': 'ESP',
 'Sri Lanka': 'LKA',
 'Sudan': 'SDN',
 'Suriname': 'SUR',
 'Swaziland': nan,
 'Sweden': 'SWE',
 'Switzerland': 'CHE',
 'Syria': 'SYR',
 'Taiwan': 'TWN',
 'Tajikistan': 'TJK',
 'Tanzania': 'TZA',
 'Thailand': 'THA',
 'Togo': 'TGO',
 'Tonga': 'TON',
 'Trinidad and Tobago': 'TTO',
 'Tunisia': 'TUN',
 'Turkey': 'TUR',
 'Turkmenistan': 'TKM',
 'Turks and Caicos Islands': 'TCA',
 'Tuvalu': 'TUV',
 'Uganda': 'UGA',
 'Ukraine': 'UKR',
 'United Arab Emirates': 'ARE',
 'United Kingdom': 'GBR',
 'United States': 'USA',
 'Uruguay': 'URY',
 'Uzbekistan': 'UZB',
 'Vanuatu': 'VUT',
 'Venezuela': 'VEN',
 'Vietnam': 'VNM',
 'Virgin Islands': 'VIR',
 'West Bank': nan,
 'Yemen': 'YEM',
 'Zambia': 'ZMB',
 'Zimbabwe': 'ZWE'}

In [42]:
#Map the country codes to the country names.
data3["code"] = data3["country"].map(iso2_code2)  # column with the iso_code to be recognized

In [43]:
#Make the code column string.
data3['code'] = data3['code'].astype(str)

In [44]:
#Check for valid outcome.
data3.code.unique()

array(['AFG', 'ALB', 'DZA', 'ASM', 'AND', 'AGO', 'AIA', 'nan', 'ARG',
       'ARM', 'ABW', 'AUS', 'AUT', 'AZE', 'BHS', 'BHR', 'BGD', 'BRB',
       'BLR', 'BEL', 'BLZ', 'BEN', 'BMU', 'BTN', 'BOL', 'BIH', 'BWA',
       'BRA', 'VGB', 'BRN', 'BGR', 'BFA', 'BDI', 'KHM', 'CMR', 'CAN',
       'CYM', 'CAF', 'TCD', 'CHL', 'CHN', 'COL', 'COM', 'CRI', 'CIV',
       'HRV', 'CUB', 'CYP', 'CZE', 'DNK', 'DJI', 'DMA', 'DOM', 'ECU',
       'EGY', 'SLV', 'GNQ', 'ERI', 'EST', 'ETH', 'FRO', 'FJI', 'FIN',
       'FRA', 'GUF', 'PYF', 'GAB', 'GEO', 'DEU', 'GHA', 'GIB', 'GRC',
       'GRL', 'GRD', 'GLP', 'GUM', 'GTM', 'GGY', 'GIN', 'GNB', 'GUY',
       'HTI', 'HND', 'HKG', 'HUN', 'ISL', 'IND', 'IDN', 'IRN', 'IRQ',
       'IRL', 'IMN', 'ISR', 'ITA', 'JAM', 'JPN', 'JEY', 'JOR', 'KAZ',
       'KEN', 'KIR', 'KWT', 'KGZ', 'LVA', 'LBN', 'LSO', 'LBR', 'LBY',
       'LIE', 'LTU', 'LUX', 'MKD', 'MDG', 'MWI', 'MYS', 'MDV', 'MLI',
       'MLT', 'MHL', 'MTQ', 'MRT', 'MUS', 'MYT', 'MEX', 'MDA', 'MCO',
       'MNG', 'MSR', 'MAR', 'MOZ', 'NAM', 'NRU', 'NPL', 'NLD', 'NCL',
       'NZL', 'NIC', 'NER', 'NGA', 'MNP', 'NOR', 'OMN', 'PAK', 'PLW',
       'PAN', 'PNG', 'PRY', 'PER', 'PHL', 'POL', 'PRT', 'PRI', 'QAT',
       'REU', 'ROU', 'RUS', 'RWA', 'SHN', 'LCA', 'VCT', 'WSM', 'SMR',
       'STP', 'SAU', 'SEN', 'SYC', 'SLE', 'SGP', 'SVK', 'SVN', 'SLB',
       'SOM', 'ZAF', 'ESP', 'LKA', 'SDN', 'SUR', 'SWE', 'CHE', 'SYR',
       'TWN', 'TJK', 'TZA', 'THA', 'TGO', 'TON', 'TTO', 'TUN', 'TUR',
       'TKM', 'TCA', 'TUV', 'UGA', 'UKR', 'ARE', 'GBR', 'USA', 'URY',
       'UZB', 'VUT', 'VEN', 'VNM', 'VIR', 'YEM', 'ZMB', 'ZWE'],
      dtype=object)

In [45]:
#Drop 'nan' as they will interfere with the connection of the new dataset and will not give us any useful information.
data3.drop(index=data3[data3['code'] == 'nan'].index, inplace=True)

In [46]:
data3.head()

,country,population,region,infant_mortality_(per_1000_births),gdp_($_per_capita),birthrate,deathrate,code
0,Afghanistan,31056997,ASIA (EX. NEAR EAST),163.07,700.0,46.60,20.34,AFG
1,Albania,3581655,EAST EUROPE,21.52,4500.0,15.11,5.22,ALB
2,Algeria,32930091,NORTH AFRICA,31.00,6000.0,17.14,4.61,DZA
3,American Samoa,57794,OCEANIA,9.27,8000.0,22.46,3.27,ASM
4,Andorra,71201,WEST EUROPE,4.05,19000.0,8.71,6.25,AND

In [47]:
#Check for valid outcome.
data3.code.value_counts()

AFG    1
PAK    1
NPL    1
NLD    1
NCL    1
      ..
GRL    1
GRD    1
GLP    1
GUM    1
ZWE    1
Name: code, Length: 205, dtype: int64

In [48]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 205 entries, 0 to 226
Data columns (total 8 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   country                             205 non-null    object
 1   population                          205 non-null    int64
 2   region                              205 non-null    object
 3   infant_mortality_(per_1000_births)  205 non-null    float64
 4   gdp_($_per_capita)                  205 non-null    float64
 5   birthrate                           205 non-null    float64
 6   deathrate                           205 non-null    float64
 7   code                                205 non-null    object
dtypes: float64(4), int64(1), object(3)
memory usage: 14.4+ KB

### Second dataset (external)

In [49]:
#We want to find the income group that each country belongs. Threfore  from 
#'https://www.kaggle.com/hamzael1/world-countries-income-class-2020' dataset we will use the income_group column and
#conect it with our original dataset.
new = pd.read_csv('countries_income_group.csv')

In [50]:
new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    275 non-null    int64
 1   Economy       265 non-null    object
 2   Code          265 non-null    object
 3   Region        219 non-null    object
 4   Income group  219 non-null    object
dtypes: int64(1), object(4)
memory usage: 10.9+ KB

In [51]:
new.head()

,Unnamed: 0,Economy,Code,Region,Income group
0,0,x,x,x,x
1,1,Afghanistan,AFG,South Asia,Low income
2,2,Albania,ALB,Europe & Central Asia,Upper middle income
3,3,Algeria,DZA,Middle East & North Africa,Upper middle income
4,4,American Samoa,ASM,East Asia & Pacific,Upper middle income

In [52]:
#Create a new dataframe with the needed columns.
df_new_0 = new[['Code','Income group']]

In [53]:
#Leave out the first row as it does not contain any information.
df_new = df_new_0[1:]

In [54]:
#Drop all rows that have NaN values
df_new = df_new.dropna()

In [55]:
#Rename the columuns
df_new = df_new.rename(columns={"Code": "code", "Income group": "income_group"})

In [56]:
#Change the type of column code as we want to have the same fromat as the original column because base on them we will
#condact a left out join to the original dataset to create a new column with the income group.
df_new['code'] = df_new['code'].astype(str)

In [57]:
df_new.code.unique()

array(['AFG', 'ALB', 'DZA', 'ASM', 'AND', 'AGO', 'ATG', 'ARG', 'ARM',
       'ABW', 'AUS', 'AUT', 'AZE', 'BHS', 'BHR', 'BGD', 'BRB', 'BLR',
       'BEL', 'BLZ', 'BEN', 'BMU', 'BTN', 'BOL', 'BIH', 'BWA', 'BRA',
       'VGB', 'BRN', 'BGR', 'BFA', 'BDI', 'CPV', 'KHM', 'CMR', 'CAN',
       'CYM', 'CAF', 'TCD', 'CHI', 'CHL', 'CHN', 'COL', 'COM', 'COD',
       'COG', 'CRI', 'CIV', 'HRV', 'CUB', 'CUW', 'CYP', 'CZE', 'DNK',
       'DJI', 'DMA', 'DOM', 'ECU', 'EGY', 'SLV', 'GNQ', 'ERI', 'EST',
       'SWZ', 'ETH', 'FRO', 'FJI', 'FIN', 'FRA', 'PYF', 'GAB', 'GMB',
       'GEO', 'DEU', 'GHA', 'GIB', 'GRC', 'GRL', 'GRD', 'GUM', 'GTM',
       'GIN', 'GNB', 'GUY', 'HTI', 'HND', 'HKG', 'HUN', 'ISL', 'IND',
       'IDN', 'IRN', 'IRQ', 'IRL', 'IMN', 'ISR', 'ITA', 'JAM', 'JPN',
       'JOR', 'KAZ', 'KEN', 'KIR', 'PRK', 'KOR', 'XKX', 'KWT', 'KGZ',
       'LAO', 'LVA', 'LBN', 'LSO', 'LBR', 'LBY', 'LIE', 'LTU', 'LUX',
       'MAC', 'MDG', 'MWI', 'MYS', 'MDV', 'MLI', 'MLT', 'MHL', 'MRT',
       'MUS', 'MEX', 'FSM', 'MDA', 'MCO', 'MNG', 'MNE', 'MAR', 'MOZ',
       'MMR', 'NAM', 'NRU', 'NPL', 'NLD', 'NCL', 'NZL', 'NIC', 'NER',
       'NGA', 'MKD', 'MNP', 'NOR', 'OMN', 'PAK', 'PLW', 'PAN', 'PNG',
       'PRY', 'PER', 'PHL', 'POL', 'PRT', 'PRI', 'QAT', 'ROU', 'RUS',
       'RWA', 'WSM', 'SMR', 'STP', 'SAU', 'SEN', 'SRB', 'SYC', 'SLE',
       'SGP', 'SXM', 'SVK', 'SVN', 'SLB', 'SOM', 'ZAF', 'SSD', 'ESP',
       'LKA', 'KNA', 'LCA', 'MAF', 'VCT', 'SDN', 'SUR', 'SWE', 'CHE',
       'SYR', 'TWN', 'TJK', 'TZA', 'THA', 'TLS', 'TGO', 'TON', 'TTO',
       'TUN', 'TUR', 'TKM', 'TCA', 'TUV', 'UGA', 'UKR', 'ARE', 'GBR',
       'USA', 'URY', 'UZB', 'VUT', 'VEN', 'VNM', 'VIR', 'PSE', 'YEM',
       'ZMB', 'ZWE'], dtype=object)

In [58]:
#Drop the columns with 'nan' values as they will affect the join of the two datasets and they not contain any
#useful information.
df_new.drop(index=df_new[df_new['code'] == 'nan'].index, inplace=True)

In [59]:
#Check for valid outcome.
df_new.code.value_counts()

AFG    1
PAK    1
NPL    1
NLD    1
NCL    1
      ..
GRC    1
GRL    1
GRD    1
GUM    1
ZWE    1
Name: code, Length: 218, dtype: int64

In [60]:
df_new.head()

  code         income_group
1  AFG           Low income
2  ALB  Upper middle income
3  DZA  Upper middle income
4  ASM  Upper middle income
5  AND          High income

In [61]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 218 entries, 1 to 218
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   code          218 non-null    object
 1   income_group  218 non-null    object
dtypes: object(2)
memory usage: 13.2+ KB

In [62]:
#Check for valid outcome.
list1= data3['code'].tolist()
list2=df_new['code'].tolist()
common= set(list1) & set(list2)  
len(common)

195

### Final dataset of the dashboard

In [63]:
# Merge the two datasets with outer left join to keep the original dataset values untouched and add the income group
#only if the two 'code' column are matched. The code columns contain only unique values.
data_final = pd.merge(data3, df_new, how='left', on=['code'])

In [64]:
data_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 205 entries, 0 to 204
Data columns (total 9 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   country                             205 non-null    object
 1   population                          205 non-null    int64
 2   region                              205 non-null    object
 3   infant_mortality_(per_1000_births)  205 non-null    float64
 4   gdp_($_per_capita)                  205 non-null    float64
 5   birthrate                           205 non-null    float64
 6   deathrate                           205 non-null    float64
 7   code                                205 non-null    object
 8   income_group                        195 non-null    object
dtypes: float64(4), int64(1), object(4)
memory usage: 16.0+ KB

In [65]:
#Drop all rows with NaN as they do not contain useful information.
data_final= data_final.dropna()

In [66]:
data_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195 entries, 0 to 204
Data columns (total 9 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   country                             195 non-null    object
 1   population                          195 non-null    int64
 2   region                              195 non-null    object
 3   infant_mortality_(per_1000_births)  195 non-null    float64
 4   gdp_($_per_capita)                  195 non-null    float64
 5   birthrate                           195 non-null    float64
 6   deathrate                           195 non-null    float64
 7   code                                195 non-null    object
 8   income_group                        195 non-null    object
dtypes: float64(4), int64(1), object(4)
memory usage: 15.2+ KB

In [68]:
app = JupyterDash('Second Graph')

colors = {
    'background': '#FFFFFF',
    'text': '#7FDBFF'
}

# Reading The Dataset 



#App Layout 

app.layout = html.Div(style={'backgroundColor': colors['background']}, children=[
      html.H1('Studying how Birthrate, Deathrate and Infant Mortality are changing depending on different general predictors for each country.', style={'textAlign':'center'}),
      html.Div([
          html.Div([ 
              html.Label('Population: Please select the population value that is in your interest.'),
              dcc.Slider(
                  id='slider-population',
                  min=data_final.population.min(),
                  max=data_final.population.max(),
                  marks={
                    1: '',
                    10000000 : '10M',
                    40000000 : '40M',  
                    70000000 : '70M',
                    100000000 : '100M',
                    150000000 : '150M',
                    300000000 : '300M',
                    600000000 : '600M',  
                    1000000000 : '1B',
                    1313973713 : '1.3B' 
                  },
                  value=data_final.population.min(),
                  step=10000,
                  updatemode='drag'
              )
              
              
          ]),
          html.Div([
              html.Label('Interest Variable (Dependent variable of Y-axis)'),
              dcc.Dropdown(
                  id='dependent-variable',
                  options=[{'label':'Infant Mortality (per_1000_births)', 'value':'infant_mortality_(per_1000_births)'},
                           {'label': 'Birthrate', 'value':'birthrate'},
                           {'label': 'Deathrate', 'value':'deathrate'}],
                  value='deathrate' 
     
              )
          ])
      ], style = {'width':'99%','margin':'auto'}),  
    
      
            html.Div([ 
                      dcc.Graph(
                          id='dependent-variable-gdppc',
                      ),   


                     html.Div( dcc.Graph(
                          id='dependent-variable-region',
                      ), style = {'width': '50%', 'display': 'inline-block'}),


                 html.Div(
                      dcc.Graph(
                          id='dependent-variable-country',
                      ),style = {'width': '50%', 'display': 'inline-block'})


              ], style = {'width':'99%','margin':'auto'})

])



def axisy_variable(var):
    if var == 'infant_mortality_(per_1000_births)':
        x = 'Infant Mortality'
    elif var == 'birthrate':
        x = 'Birthrate of the total population'
    elif var == 'deathrate':
        x='Deathrate of the total population'
    return x

  
    



#Conencting the input state with the output state
    
    
#Graph 1: Dependent Variable VS GDP per capita (scatter plot)

@app.callback(Output('dependent-variable-gdppc', 'figure'),
              [Input('slider-population', 'value'),
               Input('dependent-variable', 'value')]) 


def update_scatterplot_graph_one(population_value, dependent_variable):


    sorted = data_final[data_final.population <= population_value]
    fig = px.scatter(sorted,
                      x='gdp_($_per_capita)',
                      y= dependent_variable,
                      size='population',
                      color='income_group',
                      hover_name='country',
                      template='plotly_white',
                      labels={'gdp_($_per_capita)':'Gross Domestic Product per catita',
                              'y': axisy_variable(dependent_variable)},
                      title='Interest Variable VS Gross Domestic Product per capita')
    fig.update_layout(transition_duration=500)
    return fig





#Graph 2: Dependent Variable VS region (bar plot)

@app.callback(Output('dependent-variable-region', 'figure'),
              [Input('slider-population', 'value'),
               Input('dependent-variable', 'value')])  


def update_barplot_graph_two(population_value, dependent_variable):
    sorted = data_final[data_final.population <= population_value].groupby(by='region').sum().reset_index()
    fig = px.bar(sorted,
                  x='region',
                  y=dependent_variable,
                  color='region', 
                  template='plotly_white',
                  labels={'region':'Regions',
                        'infant_mortality_(per_1000_births)':'Infant Mortality',
                        'birthrate':'Total Birthrate',
                        'deathrate':'Total Deathrate'},
                 
                  title='Interest Variable VS Region')
    fig.update_layout()
    return fig







#Graph 3: Dependent Variable VS country (bar plot)

@app.callback(Output('dependent-variable-country', 'figure'),
              [Input('slider-population', 'value'),
               Input('dependent-variable', 'value')])

def update_barplot_graph_three(population_value, dependent_variable):
    sorted = data_final[data_final.population <= population_value]
    fig = px.bar(sorted, 
                x='country', 
                y= dependent_variable , 
                color='income_group',
                template='plotly_white',
                labels={'country':'Country',
                        'infant_mortality_(per_1000_births)':'Infant Mortality',
                        'birthrate':'Total Birthrate',
                        'deathrate':'Total Deathrate'},
                title='Interest Variable VS Countries')
    fig.update_layout()
    return fig




# Run app and display result inline in the notebook
app.run_server(host="localhost",port=8053)
#app.run_server()

Dash app running on http://localhost:8053/